global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  chroot /var/lib/haproxy
  daemon
  nbproc 4
  maxconn 10240
  stats timeout 30s
  stats socket /tmp/haproxy.status.sock mode 660 level admin

defaults
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m
    option redispatch
    balance leastconn


listen stats :1936
    mode http
    stats enable
    stats uri /
    stats refresh 2s
    stats realm Haproxy\ Stats
    stats auth zhihu:hi!iamhaproxy


# For each service, build a backend definition
{{#services}}
listen {{name}}
    mode {{mode}}
    bind 127.0.0.1:{{port}}
    {{# nodes}}
    server {{Node}} {{Address}}:{{port}} check inter 5s fall 3
    {{/nodes}}
{{/services}}
